* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
   
html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    /*min-width: 1050px;*/
}

body {
    background-image: url("../images/towerDefense_tile241_background.png");
}

#grid-item-header {
    grid-area: header;
}

#grid-item-description {
    grid-area: description;
}

#grid-item-game {
    grid-area: game;
}

#grid-item-scoreboard {
    grid-area: scoreboard;
}

#grid-item-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-gap: 10px;
    grid-template-areas:
        'header header header'
        'description game scoreboard'
        'footer footer footer';
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p1 {
    font: bold 100px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

p2, p3 {
    font: bold 100px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #ccc;
}

h1 {
   font-size: 90px;
}

h2 {
    font-size: 40px; 
}

h3 {
    font-size: 20px; 
}

p1 {
    font-size: 40px;
    text-align: unset;
}

p2 {
    font-size: 20px;
    text-align: unset;
}

p3 {
    font-size: 15px;
    text-align: unset;
}

#grid-item-game {
    border: 30px solid transparent;
    border-image: url(../images/border.png) 33% round; 
    position: relative;
    background-image: url("../images/towerDefense_tile241_background.png");
}

.center {
    text-align: center;
}

#game {
    margin-top: 20px;
}

.flex-container {
    display: flex;
}

.flex-container > * {
    margin: 0 10px;
}

.margin-auto {
    margin: auto;
}

#game-builds-menu {
    top: 50px;
    margin: 10% 0;
    right: 0;
    /*min-height: 50%;*/
    background-color: rgba(82, 81, 81, 0.28);
    position: absolute;
    border-radius: 6px 0px 0px 6px;
    flex-direction: column;
}

#game-header {
    background-color: rgba(82, 81, 81, 0.28);
    position: absolute;
    top: 0px;
    width: 100%;
    border-radius: 0px  0px 6px 6px;
    padding: 2px;
}

.header-output > * {
    vertical-align: middle;
}

#game-right-footer {
    background-color: rgba(82, 81, 81, 0.28);
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 6px 6px 0px 6px;
    padding: 2px;
}

.build-option {
    text-align: center;
    border: 2px solid rgba(82, 81, 81, 0.9);
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(82, 81, 81, 0.6);
}

#build-option-template {
    display: none;
}

.build-option:hover {
    background-color: rgba(82, 81, 81, 0.9);
}

.build-option-canvas {
    display: block;
}

.build-option-price > * {
    vertical-align: middle;
}

.game-control {
    fill: white;
    width: 40px;
    height: 40px;
    filter: drop-shadow(2px 3px 0px #aaa);
}

.game-control:hover {
    fill: #ce2514;
    cursor: pointer;
}

#fullscreen-icon:hover
{
    fill: #ce2514;
    cursor: pointer;
}

#fullscreen {
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}